<header>
    <h1>Tech M Estimation Tool<span>Exhibiting Excellence Everyday</span></h1>
</header>
<hr/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Stuff goes here</h3>
    </div>
    <div class="panel-body">
        If you are looking for stuff you will likely find it here. If you are not looking for stuff look elsewhere.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">More stuff</h3>
    </div>
    <div class="panel-body">
        This is some more stuff for such and such. Not to mention that there is stuff here that is stuff.
    </div>
</div>