<script>
    new gnMenu(document.getElementById('gn-menu'));
</script>
<ul id="gn-menu" class="gn-menu-main" ng-controller="menuCtrl">
    <li class="gn-trigger">
        <a ng-mouseover="setLinks()" class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    <li ng-repeat="link in links">
                        <a class="gn-icon" href="{{link.href}}">
                            <i class="fa fa-{{link.icon}}" ></i>{{link.label}}
                        </a>                   
                    </li>
                </ul>
            </div><!-- /gn-scroller -->
        </nav>
    </li>
    <li><img src="img/techm_logo2.png"/></li>
    <li class="container-fluid" ng-controller="loginCtrl">
        <form name="loginForm" ng-show="!loggedIn" class="navbar-form nav-login-form">
            <div class="form-group">
                <input type="text" class="form-control nav-input" placeholder="Username" ng-model="username">
                <input type="password" class="form-control nav-input" placeholder="Password" ng-model="password">
            </div>
            <button ng-click="login()" ng-disabled="formIsFilled()" class="btn btn-xs btn-default">Login</button>
        </form>
        <div ng-show="loggedIn">
            <span class="welcome">Welcome <span>{{name}}</span></span>
        </div>
    </li>
</ul>