<header>
    <h1>My PMTs</h1>
</header>
<hr/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current PMTs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th class="text-center">PMT ID</th>
                    <th class="text-center">MOTS ID</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="pmt in pmts">
                <td>{{pmt.id}}</td>
                <td>{{pmt.mots.id}}</td>
                <td><button ng-click="showWizard()" class="btn btn-sm">Edit</button></td>
            </tr>
        </table>
    </div>
</div>
<div pmt-wizard=""></div>