<div>
    <input type="text" ng-model="pmt.pid">
<div class="wizard" id="pmt-wizard" data-title="PMT Form">
    <div class="wizard-card container-fluid-fluid" data-cardname="pid">
        <h3>PID Details</h3>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-sm-5">
                    <input class="form-control" type="text" placeholder="Enter PID" ng-model="pmt.pid">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="release" placeholder="Enter release">
                </div>
                <div class="col-sm-3 ">
                    <input class="form-control" type="text" name="si" placeholder="Enter SI">
                </div>
                <div class="col-sm-3 ">
                    <input class="form-control" type="text" name="cr" placeholder="Enter CR">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="pmt" placeholder="Enter PMT number">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 ">
                    <input class="form-control" type="text" name="pmtDesc" placeholder="Enter PMT description">
                </div>
            </div>
        </div>
    </div>

    <div class="wizard-card" data-cardname="mots">
        <h3>MOTS Details</h3>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-sm-4">
                    <input class="form-control" name="motsid" type="text" placeholder="Enter MOTS ID" maxlength="10">
                </div>
                <div class="col-sm-8 ">
                    <input class="form-control" name="appName" type="text" placeholder="Enter app name" maxlength="30">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 ">
                    <input class="form-control" name="appDesc" type="text" placeholder="Enter app description" maxlength="50">
                </div>
            </div>
        </div>
    </div>

    <div class="wizard-card" data-cardname="tcp">
        <h3>TCP Details</h3>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-sm-4">
                    <select class="form-control" name="tcpLevel">
                        <option class="s" selected disabled>TCP level</option>
                        <option value="1">TCP1</option>
                        <option value="2">TCP2</option>
                        <option value="3">TCP3</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="totalHrs" placeholder="Enter total hours" maxlength="6" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <span class="fg-white">Distribute total hours below</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.jan" placeholder="Jan" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.feb" placeholder="Feb" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.mar" placeholder="Mar" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.apr" placeholder="Apr" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.may" placeholder="May" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.jun" placeholder="Jun" maxlength="6"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.jul" placeholder="Jul" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.aug" placeholder="Aug" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.sep" placeholder="Sep" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.oct" placeholder="Oct" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.nov" placeholder="Nov" maxlength="6"></div>
                <div class="col-sm-2"><input class="form-control" type="text" ng-model="curPmt.tcp.hours.dec" placeholder="Dec" maxlength="6"></div>
            </div>
        </div>
    </div>

    <div class="wizard-card" data-cardname="comments">
        <h3>Comments</h3>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-sm-10 offset1 area">
                    <textarea class="form-control" id="comments" ng-model="curPmt.comments" rows="5" cols="40" maxlength="250" placeholder="Enter comments here"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="wizard-card" data-cardname="confirm">
        <h3>Confirm</h3>
        <div class="container-fluid text-center">
            <div class="row form-group">
                <div class="col-sm-12 notice bg-grayLighter" style="padding: 10px">
                    <div class="fg-red">Verify the form is filled correctly and select the desired action.</div>
                </div>
            </div>
            <div class="button-set" data-role="button-group">
                <div class="row form-group">
                    <div id="saveBttn" class="col-sm-3 offset3">
                        <button name="saveBttn" class="shortcut primary">
                            <i class="icon-floppy"></i>
                            Save
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <button name="submitBttn" class="shortcut warning">
                            <i class="icon-box-add"></i>
                            Submit
                        </button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3 offset3">
                        <button name="rejectBttn" class="shortcut danger">
                            <i class="icon-cancel"></i>
                            Reject
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <button name="approveBttn" class="shortcut success">
                            <i class="icon-checkmark"></i>
                            Approve
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var options = {
            keyboard : false,
            contentHeight : 400,
            contentWidth : 700,
            backdrop: 'static'
        };
        var wizard = $("#pmt-wizard").wizard(options);

        $('.open-wizard').click(function(e) {
            e.preventDefault();
            wizard.show();
        });
    });
</script>
</div>