<div>
<div class="wizard" id="pmt-wizard" data-title="PMT Form">
    <div class="wizard-card container-fluid-fluid" data-cardname="pid">
        <h3>PID Details</h3>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-sm-5">
                    <span class="input-label">PID</span>
                    <input ng-disabled="isEditing" class="form-control" type="text" placeholder="Enter PID" ng-model="curPmt.pid">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    <span class="input-label">Release</span>
                    <input ng-disabled="isEditing" class="form-control" type="text" name="release" placeholder="Enter release" ng-model="curPmt.release">
                </div>
                <div class="col-sm-3 ">
                    <span class="input-label">SI</span>
                    <input ng-disabled="isEditing" class="form-control" type="text" placeholder="Enter SI" ng-model="curPmt.si">
                </div>
                <div class="col-sm-3 ">
                    <span class="input-label">CR</span>
                    <input ng-disabled="isEditing" class="form-control" type="text" name="cr" placeholder="Enter CR" ng-model="curPmt.cr">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5">
                    <span class="input-label">PMT ID</span>
                    <input ng-disabled="isEditing" class="form-control" type="text" placeholder="Enter PMT number" ng-model="curPmt.id">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 ">
                    <span class="input-label">Pmt Description</span>
                    <input ng-disabled="isEditing" class="form-control" type="text" placeholder="Enter PMT description" ng-model="curPmt.pmtDesc">
                </div>
            </div>
        </div>
    </div>

    <div class="wizard-card" data-cardname="mots">
        <h3>MOTS Details</h3>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-sm-4">
                    <span class="input-label">MOTS ID</span>
                    <input ng-disabled="isEditing" class="form-control" type="text" placeholder="Enter MOTS ID" maxlength="10" ng-model="curPmt.mots.id">
                </div>
                <div class="col-sm-8 ">
                    <span class="input-label">App Name</span>
                    <input ng-disabled="isEditing" class="form-control" type="text" placeholder="Enter app name" maxlength="30" ng-model="curPmt.mots.name">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 ">
                    <span class="input-label">App Description</span>
                    <input ng-disabled="isEditing" class="form-control" type="text" placeholder="Enter app description" maxlength="50" ng-model="curPmt.mots.desc">
                </div>
            </div>
        </div>
    </div>

    <div class="wizard-card" data-cardname="tcp">
        <h3>TCP Details</h3>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-sm-4">
                    <span class="input-label">TCP Level</span>
                    <select class="form-control" id="tcpLevel">
                        <option class="s" selected disabled>TCP level</option>
                        <option value="1">TCP1</option>
                        <option value="2">TCP2</option>
                        <option value="3">TCP3</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <span class="input-label">Total Hours</span>
                    <input class="form-control" type="text" ng-model="curPmt.tcp.totalHrs" placeholder="Enter total hours" maxlength="6" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <span class="text-danger">Distribute total hours below</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2"><span class="input-label">Jan</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.jan" placeholder="Jan" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">Feb</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.feb" placeholder="Feb" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">Mar</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.mar" placeholder="Mar" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">Apr</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.apr" placeholder="Apr" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">May</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.may" placeholder="May" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">Jun</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.jun" placeholder="Jun" maxlength="6"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2"><span class="input-label">Jul</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.jul" placeholder="Jul" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">Aug</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.aug" placeholder="Aug" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">Sep</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.sep" placeholder="Sep" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">Oct</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.oct" placeholder="Oct" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">Nov</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.nov" placeholder="Nov" maxlength="6"></div>
                <div class="col-sm-2"><span class="input-label">Dec</span><input class="form-control" type="text" ng-model="curPmt.tcp.hrDist.dec" placeholder="Dec" maxlength="6"></div>
            </div>
        </div>
    </div>

    <div class="wizard-card" data-cardname="comments">
        <h3>Comments</h3>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-sm-10 offset1 area">
                    <textarea class="form-control" id="comments" ng-model="curPmt.comments" rows="5" cols="40" maxlength="250" placeholder="Enter comments here"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="wizard-card" data-cardname="confirm">
        <h3>Confirm</h3>
        <div class="container-fluid text-center">
            <div class="row form-group">
                <div class="col-sm-12 notice bg-grayLighter" style="padding: 10px">
                    <div class="fg-red">Verify the form is filled correctly and select the desired action.</div>
                </div>
            </div>
            <div class="button-set" data-role="button-group">
                <div class="row form-group">
                    <div id="saveBttn" class="col-sm-3 offset3">
                        <button name="saveBttn" class="shortcut">
                            <i class="icon-floppy"></i>
                            Save
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <button name="submitBttn" class="shortcut warning">
                            <i class="icon-box-add"></i>
                            Submit
                        </button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3 offset3">
                        <button name="rejectBttn" class="shortcut danger">
                            <i class="fa fa-times fa-2x"></i>
                            Reject
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <button name="approveBttn" class="shortcut">
                            <i class="icon-checkmark"></i>
                            Approve
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var options = {
            keyboard : false,
            contentHeight : 400,
            contentWidth : 700,
            backdrop: 'static'
        };
        var wizard = $("#pmt-wizard").wizard(options);

        $('.open-wizard').click(function(e) {
            e.preventDefault();
            wizard.show();
        });
    });
</script>
</div>